<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>kitsch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostingController</display-name>
    <servlet-name>PostingController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.PostingController</servlet-class>
    <multipart-config>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostingController</servlet-name>
    <url-pattern>/posting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogController</display-name>
    <servlet-name>BlogController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.BlogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogController</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessagingController</display-name>
    <servlet-name>MessagingController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.MessagingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagingController</servlet-name>
    <url-pattern>/messaging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExploreController</display-name>
    <servlet-name>ExploreController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.ExploreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExploreController</servlet-name>
    <url-pattern>/explore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardController</display-name>
    <servlet-name>DashBoardController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.DashBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardController</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/kitsch</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>microblog.kitsch.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-name>PostingController</servlet-name>
    <servlet-name>BlogController</servlet-name>
    <servlet-name>MessagingController</servlet-name>
    <servlet-name>ExploreController</servlet-name>
    <servlet-name>DashBoardController</servlet-name>
    <servlet-name>SearchController</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManagementController</display-name>
    <servlet-name>ManagementController</servlet-name>
    <servlet-class>microblog.kitsch.web.controller.ManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagementController</servlet-name>
    <url-pattern>/management</url-pattern>
  </servlet-mapping>
</web-app>